<%-include("header")-%>
<body>
    <div class="box" id="headline">
        <h1 ><%= listTitle %> </h1>
    </div>
    <div class="box">
            <% for(let i=0; i<newItem.length; i++){%>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newItem[i] %></p>
                </div>
            
            <%}%>
    </div>
   <div class="box" id="form">
    <form action="/" method="post" autocomplete="off">
        <input  type="text" name="item" placeholder="New item" >
        <button class="btn" type="submit" name="btn" value=<%= listTitle %>>+</button>
    </form>
   </div>
   <%-include("footer")-%>